<?php
$objectManager   = \Magento\Framework\App\ObjectManager::getInstance();
$scopeConfig     = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');
$encryptor       = $objectManager->get('Magento\Framework\Encryption\EncryptorInterface');
$showPaymentInfo = $scopeConfig->getValue('payment/maxipago_payment/show_payment_info');
?>
<?php if ($showPaymentInfo) : ?>
    <?php if ($block->getMethodCode() === "maxipago_payment_ticket") : ?>
        <table class="data table">
            <h1>Iago Cedran</h1>
            <tr>
                <th scope="row"><?php echo $block->escapeHtml('CPF/CNPJ:') ?></th>
                <td>
                    <?php echo $block->getInfo('cpf_cnpj'); ?>
                </td>
            </tr>
            <tr>
                <th scope="row"><?php echo $block->escapeHtml('Link') ?></th>
                <td>
                    <a href="<?php echo $block->getInfo('ticket_url'); ?>" target="_blank" class="action primary continue">
                        <?php echo __('Imprimir Boleto') ?>
                    </a>
                </td>
            </tr>
        </table>
    <?php elseif ($block->getMethodCode() === "maxipago_payment_dc") : ?>
        <?php
        $dcType   = $this->getPayment()->getInfoInstance()->getCcType();
        $dcOwner  = $this->getPayment()->getInfoInstance()->getCcOwner();
        $dcNumber = $encryptor->decrypt($this->getPayment()->getInfoInstance()->getCcNumberEnc());
        $dcNumber = substr($dcNumber, 0,6) . '****' . substr($dcNumber, -4);

        $cpfCnpj = $block->getInfo('cpf_cnpj');
        $orderId = $block->getInfo('order_id');

        $tid = $block->getInfo('processor_transaction_id');
        $nsu = $block->getInfo('processor_reference_number');
        ?>
        <p><b><?php echo $block->getPayment()->getTitle() ?></b></p>
        <div class="maxipago_dc_information">
            <p><?php echo __('Card Owner: ') . $dcOwner; ?></p>
            <p><?php echo __('Card Brand: ') . $this->helper('MaxiPago\Payment\Helper\Data')->getBrand($dcType) ?></p>
            <p><?php echo __('Card Number: ') . $dcNumber; ?></p>

            <?php if ($cpfCnpj): ?>
                <p><?php echo __('CPF/CNPJ: ') . $cpfCnpj; ?></p>
            <?php endif;?>

            <?php if ($tid) : ?>
                <p><?php echo __('TID: ') .  $tid ?></p>
            <?php endif; ?>

            <?php if ($nsu) : ?>
                <p><?php echo __('NSU: ') . $nsu ?></p>
            <?php endif; ?>
        </div>
    <?php elseif ($block->getMethodCode() === "maxipago_payment_cc") : ?>
        <?php
        $ccType   = $this->getPayment()->getInfoInstance()->getCcType();
        $ccOwner  = $this->getPayment()->getInfoInstance()->getCcOwner();
        $ccNumber = $encryptor->decrypt($this->getPayment()->getInfoInstance()->getCcNumberEnc());
        $ccNumber = substr($ccNumber, 0,6) . '****' . substr($ccNumber, -4);

        $installments = $block->getInfo('cc_installments');
        $installmentsValue = $block->getInfo('cc_installment_value');
        $interestRate = $block->getInfo('cc_interest_rate');

        $cpfCnpj = $block->getInfo('cpf_cnpj');
        $orderId = $block->getInfo('order_id');

        $status = $block->getInfo('status');
        $savedCardUsed = $block->getInfo('cc_description');
        $isRecurringProfile = $block->getInfo('recurring_profile');
        $totalWithInterest  = $block->getInfo('cc_total_with_interest');

        $tid = $block->getInfo('processor_transaction_id');
        $nsu = $block->getInfo('processor_reference_number');
        ?>
        <p><b><?php echo $block->getPayment()->getTitle() ?></b></p>
        <div class="maxipago_cc_information">
            <p><?php echo __('Tipo de Cartão de Crédito: ') . $this->helper('MaxiPago\Payment\Helper\Data')->getBrand($ccType) ?></p>

            <?php if($savedCardUsed): ?>
                <p><?php echo __('Número do Cartão: ') . $savedCardUsed; ?></p>
            <?php else: ?>
                <p><?php echo __('Número do Cartão: ') . $ccNumber; ?></p>
                <p><?php echo __('Nome no Cartão:  ') . $ccOwner; ?></p>

            <?php endif;?>

            <?php if ($cpfCnpj): ?>
                <p><?php echo __('CPF/CNPJ: ') . $cpfCnpj; ?></p>
            <?php endif;?>

            <?php
            $textInterest = '';
            if ($interestRate)
                $textInterest = __('(juros de ') . $interestRate . __('%');
            ?>

            <?php if (!$isRecurringProfile && $installments > 1): ?>
                <p>
                    <?php echo __('Parcelas: ') . $installments . __('x') ?>
                    <?php echo __('de ') . number_format($installmentsValue, 2, ',', '.');?>
                    <?php echo $textInterest;?>
                </p>
                <?php if ($totalWithInterest && $textInterest): ?>
                    <p><?php echo __('Total: ') . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalWithInterest, true, false); ?></p>
                <?php endif; ?>
            <?php endif;?>

            <?php if ($tid) : ?>
                <p><?php echo __('TID: ') . $tid ?></p>
            <?php endif; ?>

            <?php if ($nsu) : ?>
                <p><?php echo __('NSU: ') . $nsu ?></p>
            <?php endif; ?>
        </div>
    <?php endif; ?>
<?php endif; ?>