<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Magento\Braintree\Block\Form $block */
$code = $block->escapeHtml($block->getMethodCode());
$ccType = $block->getInfoData('cc_type');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$scopeConfig = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');
$backendSessionQuote = $objectManager->get('Magento\Backend\Model\Session\Quote');
$helper = $objectManager->get('MaxiPago\Payment\Helper\Data');

$quote = $backendSessionQuote->getQuote();

$baseGrandTotal = $quote->getBaseGrandTotal();

$description = $scopeConfig->getValue('payment/maxipago_payment/maxipago_payment_checkout_2/descriptor');
$defaultDescription = __('<small>Pay with Checkout 2.0</small>');

$hasInstallments = $scopeConfig->getValue('payment/maxipago_payment/maxipago_payment_checkout_2/installments');
$installments = $helper->getInstallmentsInformation($code);
?>
<fieldset class="admin__fieldset payment-method" id="payment_form_<?= /* @noEscape */ $code ?>" style="display:none">
    <div class="checkout2Grid input-box">
        <?= ($description) ? $description : $defaultDescription->getText(); ?>
    </div>

    <div id="<?= /* @noEscape */ $code ?>_description" class="input-box">
        <label class="required">
            <em>*</em><?= /* @noEscape */ __('Descrição que vai aparecer no e-mail') ?></label>
        <input type="text" id="<?= /* @noEscape */ $code ?>_description" name="payment[description]" title="<?= /* @noEscape */ __('Descrição') ?>" class="input-text required-entry" value="<?= $block->getInfoData('description') ?>">
    </div>

    <div id="<?= /* @noEscape */ $code ?>_comments" class="input-box">
        <label class="required">
            <em>*</em><?= /* @noEscape */ __('Comentários que aparecerão no e-mail') ?></label>
        <input type="text" id="<?= /* @noEscape */ $code ?>_comments" name="payment[comments]" title="<?= /* @noEscape */ __('Comentários') ?>" class="input-text required-entry" value="<?= $block->getInfoData('comments') ?>">
    </div>

    <div id="<?= /* @noEscape */ $code ?>_subject" class="input-box">
        <label class="required">
            <em>*</em><?= /* @noEscape */ __('Assunto do e-mail') ?></label>
        <input type="text" id="<?= /* @noEscape */ $code ?>_subject" name="payment[subject]" title="<?= /* @noEscape */ __('Subject') ?>" class="input-text required-entry" value="<?= $block->getInfoData('subject') ?>">
    </div>

    <?php if (!$quote->getCustomerDob()): ?>
        <div id="<?= /* @noEscape */ $code ?>_dob" class="input-box">
            <label class="required">
                <em>*</em><?= __('Date of Birth') ?>
            </label>
            <input type="date"
                   id="<?= /* @noEscape */ $code ?>_dob"
                   name="payment[dob]"
                   title="<?= /* @noEscape */ __('Date of Birth') ?>"
                   class="input-text required-entry"
                   placeholder="dd/mm/YYYY"
                   value="<?= /* @noEscape */ $this->getInfoData('dob') ?>"
            />
        </div>
    <?php endif;?>

    <div class="cpf-input input-box">
        <label class="required">
            <em>*</em><?= /* @noEscape */ __('CPF/CNPJ do titular') ?></label>

        <input type="text" placeholder="<?= /* @noEscape */ __('Digite apenas números') ?>" id="<?= /* @noEscape */ $code ?>_cpf"
               class="required-entry input-text"
               maxlength="14"
               name="payment[cpf_cnpj]"
               title="<?= /* @noEscape */ __('CPF / CNPJ') ?>"
               value="<?= $block->getInfoData('cpf_cnpj') ?>">
    </div>

    <div class="pars input-box">
        <input type="hidden" name="payment[base_grand_total]" value="<?= $baseGrandTotal; ?>">

        <?php if (!empty($installments)): ?>
            <label for="<?= /* @noEscape */ $code ?>_installments" class="required">
                <em>*</em><?= /* @noEscape */ __('Número de parcelas') ?></label>
            <select name="payment[installments]" id="<?= /* @noEscape */ $code ?>_installments" class="required-entry parcelas">
                <option value=""><?= /* @noEscape */ __('Selecione...'); ?></option>
                <?php foreach ($installments as $installment): ?>
                    <?php
                    $total = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($installment['total'], true, false);
                    $interest = $installment['interest_rate'];
                    $i = $installment['installments'];
                    ?>
                    <option value="<?= /* @noEscape */ $installment['value']; ?>">
                        <?= $i; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        <?php else: ?>
            <input type="hidden" name="payment[installments]" value="1" />
        <?php endif; ?>
    </div>

    <input type="hidden" id="<?= /* @noEscape */ $code ?>_payment_method_nonce" name="payment[payment_method_nonce]"/>
    <input type="submit" name="Submit" style="display: none;">
</fieldset>
