<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, visible: isActive()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" id="maxipago_payment_cc_form" method="post">

            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">

                <input type="hidden" value="" name="hash"
                       data-bind="attr: {id: getCode() + '_hash', 'data-container': getCode() + '-_hash'}">

                <input type="hidden" name="use_saved_card" id="maxipagoUseSavedCard" value="0"/>

                <div data-bind="visible: useSavedCard()">
                    <div class="save-card-button" id="useSavedCardButton">
                        <button id="useSavedCard" data-bind="click: getSavedCard"><!-- ko i18n: 'Use saved card'--><!-- /ko --></button>
                    </div>

                    <div class="save-card-button" id="useNewCardButton" style="display: none">
                        <button id="useNewCard" data-bind="click: getNewCard"><!-- ko i18n: 'Use new card'--><!-- /ko --></button>
                    </div>

                    <div class="field token required" style="display: none">
                        <label data-bind="attr: {for: getCode() + '_cc_token'}" class="label">
                            <span><!-- ko i18n: 'Saved Cards'--><!-- /ko --></span>
                        </label>
                        <div class="control">
                            <select name="cc_token"
                                    class="select select-cc-token"
                                    data-bind="attr: {id: getCode() + '_cc_token',
														'data-container': getCode() + '-cc-select-cc-token',
														'data-validate': JSON.stringify({required:true})},
												   options: getCcToken(),
												   optionsText: 'label',
												   optionsValue: 'value'
												   ">
                            </select>
                            <p><a href="javascript:void(0)" id="removeCard"><span><!-- ko i18n: 'Remover cartão selecionado'--><!-- /ko --></span></a></p>
                        </div>
                    </div>
                </div>

                <div class="field brand required">
                    <label data-bind="attr: {for: getCode() + '_cc_type'}" class="label">
                        <span><!-- ko i18n: 'Tipo'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <label data-bind="visible: isActiveVisa()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Visa" value="VI" style="display: none;">
                            <img alt="Visa" title="Visa" style="width:45px"
                                 data-bind="attr:{src: getIconVisa()}">
                        </label>
                        <label data-bind="visible: isActiveMaster()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Mastercard" value="MC" style="display: none;">
                            <img alt="Mastercard" title="Mastercard" style="width:45px"
                                 data-bind="attr:{src: getIconMaster()}">
                        </label>
                        <label data-bind="visible: isActiveAmex()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Amex" value="AM" style="display: none;">
                            <img alt="Amex" title="Amex" style="width:45px"
                                 data-bind="attr:{src: getIconAmex()}">
                        </label>
                        <label data-bind="visible: isActiveDinersClub()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Diners Club" value="DC" style="display: none;">
                            <img alt="Diners Club" title="Diners Club" style="width:45px"
                                 data-bind="attr:{src: getIconDinersClub()}">
                        </label>
                        <label data-bind="visible: isActiveElo()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Elo" value="EL" style="display: none;">
                            <img alt="Elo" title="Elo" style="width:45px"
                                 data-bind="attr:{src: getIconElo()}">
                        </label>
                        <label data-bind="visible: isActiveDiscover()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Discover" value="DI" style="display: none;">
                            <img alt="Discover" title="Discover" style="width:45px"
                                 data-bind="attr:{src: getIconDiscover()}">
                        </label>
                        <label data-bind="visible: isActiveHipercard()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Hipercard" value="HC" style="display: none;">
                            <img alt="Hipercard" title="Hipercard" style="width:45px"
                                 data-bind="attr:{src: getIconHipercard()}">
                        </label>
                        <label data-bind="visible: isActiveHiper()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Hiper" value="HI" style="display: none;">
                            <img alt="Hiper" title="Hiper" style="width:45px"
                                 data-bind="attr:{src: getIconHiper()}">
                        </label>
                        <label data-bind="visible: isActiveJcb()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="JCB" value="JC" style="display: none;">
                            <img alt="JCB" title="JCB" style="width:45px"
                                 data-bind="attr:{src: getIconJcb()}">
                        </label>
                        <label data-bind="visible: isActiveAura()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Aura" value="AU" style="display: none;">
                            <img alt="Aura" title="Aura" style="width:45px"
                                 data-bind="attr:{src: getIconAura()}">
                        </label>
                        <label data-bind="visible: isActiveCredz()">
                            <input type="radio" name="cc_type" class="maxipago_cc_type validate-one-required-by-name" title="Credz" value="CR" style="display: none;">
                            <img alt="Credz" title="Credz" style="width:45px"
                                 data-bind="attr:{src: getIconCredz()}">
                        </label>
                    </div>
                </div>

                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko i18n: 'Número do Cartão'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="cc_number" class="input-text" value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_cc_number',
												title: $t('Número do Cartão'),
												'data-container': getCode() + '-cc-number',
												'data-validate': JSON.stringify({'required':true})
												}, event: { change: changeIdentifyCcNumber }"/>

                        <label data-bind="attr: {for: getCode() + '_save_card'}">
                            <input type="checkbox" name="save_card" id="maxipago_payment_cc_save_card"/><span><!-- ko i18n: 'Salvar este cartão?'--><!-- /ko --></span>
                        </label>
                    </div>
                </div>

                <div class="field name required">
                    <label data-bind="attr: {for: getCode() + '_cc_owner'}" class="label">
                        <span><!-- ko i18n: 'Nome do titular'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="cc_owner" class="input-text" value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_cc_owner',
												title: $t('Nome do titular'),
												'data-container': getCode() + '-cc-owner',
												'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>

                <div class="field month required">

                    <label data-bind="attr: {for: getCode() + '_month_year'}" class="label">
                        <span><!-- ko i18n: 'Data de validade'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <select name="cc_exp_month"
                                class="select select-brands"
                                data-bind="attr: {id: getCode() + '_month',
														'data-container': getCode() + '-month',
														'data-validate': JSON.stringify({required:true})},
												   options: getCcMonthsValues(),
												   optionsText: 'month',
												   optionsValue: 'value'
												   ">
                        </select>
                        <span>/</span>
                        <select name="cc_exp_year"
                                class="select select-brands"
                                data-bind="attr: {id: getCode() + '_year',
														'data-container': getCode() + '-year',
														'data-validate': JSON.stringify({required:true})},
												   options: getCcYearsValues(),
												   optionsText: 'year',
												   optionsValue: 'value'
												   ">
                        </select>
                    </div>
                </div>

                <div class="field cid required">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'CVV'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="cc_cid" class="input-text" value=""
                               data-bind="attr: {
                                        autocomplete: off,
                                        id: getCode() + '_cc_cid',
                                        title: $t('CVV'),
                                        'data-container': getCode() + '-cc-cid',
                                        'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>

                <div class="field cpf-cnpg required">
                    <label data-bind="attr: {for: getCode() + '_cpf_cnpj'}" class="label">
                        <span><!-- ko i18n: 'CPF/CNPJ do comprador'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="cpf_cnpj" class="input-text" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cpf_cnpj',
                                    title: $t('CPF/CNPJ do comprador'),
                                    'data-container': getCode() + '-cpf-cnpj',
                                    'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>

                <div class="field installments required">

                    <label data-bind="attr: {for: getCode() + '_installments'}" class="label">
                        <span><!-- ko i18n: 'Número de parcelas'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <select name="installments"
                                class="select select-installments"
                                data-bind="attr: {id: getCode() + '_installments',
                                                'data-container': getCode() + '-installments',
                                                'data-validate': JSON.stringify({required:true})},
                                           options: getInstallments(),
                                           optionsText: 'installments',
                                           optionsValue: 'value'
                                           ">
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>

        <br>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>