<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, visible: isActive()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: getDescription() -->
        <dl class="items check payable">
            <!-- ko if: getDescription() -->
            <dt class="title"><!-- ko i18n: 'Description' --><!-- /ko --></dt>
            <dd class="content">
                <address class="maxipagotef description address" data-bind="html: getDescription()"></address>
            </dd>
            <!-- /ko -->
        </dl>

        <form class="form" id="maxipago_payment_ticket-form" method="post">

            <fieldset
                    data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">

                <input type="hidden" value="" name="hash"
                       data-bind="attr: {id: getCode() + '_hash', 'data-container': getCode() + '-_hash'}">

                <div class="field instament required" data-bind="visible: getBanksActive()">

                    <label data-bind="attr: {for: getCode() + '_bank'}" class="label">
                        <span><!-- ko i18n: 'Bank'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <select name="banks"
                                class="select select-banks"
                                data-bind="attr: {id: getCode() + '_bank',
														'data-container': getCode() + '-bank',
														'data-validate': JSON.stringify({required:true})},
												   options: getBanks(),
												   optionsText: 'banks',
												   optionsValue: 'value'
												   ">
                        </select>
                    </div>

                </div>

                <div class="field name required">
                    <label data-bind="attr: {for: getCode() + '_cpf'}" class="label">
                        <span><!-- ko i18n: 'CPF/CNPJ do comprador'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="cpf_cnpj" class="input-text" value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_cpf',
												title: $t('CPF/CNPJ do comprador'),
												'data-container': getCode() + '-cpf',
												'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>
            </fieldset>
        </form>

        <!-- /ko -->
        <br>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        
