<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, visible: isActive()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" id="maxipago_payment_dc_form" method="post">

            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">

                <input type="hidden" value="" name="hash"
                       data-bind="attr: {id: getCode() + '_hash', 'data-container': getCode() + '-_hash'}">

                <div class="field brand required">
                    <label data-bind="attr: {for: getCode() + '_dc_type'}" class="label">
                        <span><!-- ko i18n: 'Tipo'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <label data-bind="visible: isActiveVisa()">
                            <input type="radio" name="dc_type" class="maxipago_dc_type validate-one-required-by-name" title="Visa" value="VI" style="display: none;">
                            <img alt="Visa" title="Visa" style="width:45px"
                                 data-bind="attr:{src: getIconVisa()}">
                        </label>
                        <label data-bind="visible: isActiveMaster()">
                            <input type="radio" name="dc_type" class="maxipago_dc_type validate-one-required-by-name" title="Mastercard" value="MC" style="display: none;">
                            <img alt="Mastercard" title="Mastercard" style="width:45px"
                                 data-bind="attr:{src: getIconMaster()}">
                        </label>
                    </div>
                </div>

                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_dc_number'}" class="label">
                        <span><!-- ko i18n: 'Número do Cartão'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="dc_number" class="input-text" value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_dc_number',
												title: $t('Número do Cartão'),
												'data-container': getCode() + '-dc-number',
												'data-validate': JSON.stringify({'required':true})
												}, event: { change: changeIdentifyDcNumber }"/>

                        <label data-bind="attr: {for: getCode() + '_save_card'}">
                            <input type="checkbox" name="save_card" id="maxipago_payment_dc_save_card"/><span><!-- ko i18n: 'Salvar este cartão?'--><!-- /ko --></span>
                        </label>
                    </div>
                </div>

                <div class="field name required">
                    <label data-bind="attr: {for: getCode() + '_dc_owner'}" class="label">
                        <span><!-- ko i18n: 'Nome do titular'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="dc_owner" class="input-text" value=""
                               data-bind="attr: {
												autocomplete: off,
												id: getCode() + '_dc_owner',
												title: $t('Nome do titular'),
												'data-container': getCode() + '-dc-owner',
												'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>

                <div class="field month required">

                    <label data-bind="attr: {for: getCode() + '_month_year'}" class="label">
                        <span><!-- ko i18n: 'Data de validade'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <select name="dc_exp_month"
                                class="select select-brands"
                                data-bind="attr: {id: getCode() + '_month',
														'data-container': getCode() + '-month',
														'data-validate': JSON.stringify({required:true})},
												   options: getDcMonthsValues(),
												   optionsText: 'month',
												   optionsValue: 'value'
												   ">
                        </select>
                        <span>/</span>
                        <select name="dc_exp_year"
                                class="select select-brands"
                                data-bind="attr: {id: getCode() + '_year',
														'data-container': getCode() + '-year',
														'data-validate': JSON.stringify({required:true})},
												   options: getDcYearsValues(),
												   optionsText: 'year',
												   optionsValue: 'value'
												   ">
                        </select>
                    </div>
                </div>

                <div class="field cid required">
                    <label data-bind="attr: {for: getCode() + '_dc_cid'}" class="label">
                        <span><!-- ko i18n: 'CVV'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="dc_cid" class="input-text" value=""
                               data-bind="attr: {
                                        autocomplete: off,
                                        id: getCode() + '_dc_cid',
                                        title: $t('CVV'),
                                        'data-container': getCode() + '-dc-cid',
                                        'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>

                <div class="field cpf-cnpg required">
                    <label data-bind="attr: {for: getCode() + '_cpf_cnpj'}" class="label">
                        <span><!-- ko i18n: 'CPF/CNPJ do comprador'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="cpf_cnpj" class="input-text" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cpf_cnpj',
                                    title: $t('CPF/CNPJ do comprador'),
                                    'data-container': getCode() + '-cpf-cnpj',
                                    'data-validate': JSON.stringify({'required':true})}"/>
                    </div>
                </div>
            </fieldset>
        </form>

        <br>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>