<?php
$objectManager   = \Magento\Framework\App\ObjectManager::getInstance();
$scopeConfig     = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');
$encryptor       = $objectManager->get('Magento\Framework\Encryption\EncryptorInterface');
$showPaymentInfo = $scopeConfig->getValue('payment/maxipago_payment/show_payment_info');
$infoInstance    = $block->getMethod()->getInfoInstance();
?>
<?php if ($showPaymentInfo) : ?>
    <?php if ($infoInstance->getMethod() === "maxipago_payment_ticket") : ?>
        <?php
        $additionalInformation = $infoInstance->getData('additional_information');

        $cpfCnpj         = isset($additionalInformation['cpf_cnpj']) ? $additionalInformation['cpf_cnpj'] : null;
        $maxipagoOrderId = isset($additionalInformation['order_id']) ? $additionalInformation['order_id'] : null;
        $ticketUrl       = isset($additionalInformation['ticket_url']) ? $additionalInformation['ticket_url'] : null;
        ?>
        <table class="data table">
            <?php if ($maxipagoOrderId) : ?>
                <tr>
                    <th scope="row"><?php echo $block->escapeHtml('Order ID: ') ?></th>
                    <td>
                        <?php echo $maxipagoOrderId ?>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <th scope="row"><?php echo $block->escapeHtml('CPF/CNPJ:') ?></th>
                <td>
                    <?php echo $cpfCnpj; ?>
                </td>
            </tr>
            <tr>
                <th scope="row"><?php echo $block->escapeHtml('Link') ?></th>
                <td>
                    <a href="<?php echo $ticketUrl; ?>" target="_blank" class="action primary continue">
                        <?php echo __('Imprimir Boleto') ?>
                    </a>
                </td>
            </tr>
        </table>
    <?php elseif ($infoInstance->getMethod() === "maxipago_payment_dc") : ?>
        <?php
        $dcType   = $infoInstance->getData('cc_type');
        $dcOwner  = $infoInstance->getData('cc_owner');
        $dcNumber = $encryptor->decrypt($infoInstance->getData('cc_number_enc'));
        $dcNumber = substr($dcNumber, 0,6) . '****' . substr($dcNumber, -4);

        $additionalInformation = $infoInstance->getData('additional_information');

        $cpfCnpj = $additionalInformation['cpf_cnpj'];
        $orderId = isset($additionalInformation['order_id']) ? $additionalInformation['order_id'] : null;

        $maxipagoOrderId = isset($additionalInformation['order_id']) ? $additionalInformation['order_id'] : null;
        $tid = isset($additionalInformation['processor_transaction_id']) ? $additionalInformation['processor_transaction_id'] : null;
        $nsu = isset($additionalInformation['processor_reference_number']) ? $additionalInformation['processor_reference_number'] : null;
        ?>
        <p><b><?php echo $block->getMethod()->getTitle() ?></b></p>
        <div class="maxipago_dc_information">
            <p><?php echo __('Card Owner: ') . $dcOwner; ?></p>
            <p><?php echo __('Card Brand: ') . $this->helper('MaxiPago\Payment\Helper\Data')->getBrand($dcType) ?></p>
            <p><?php echo __('Card Number: ') . $dcNumber; ?></p>

            <?php if ($cpfCnpj): ?>
                <p><?php echo __('CPF/CNPJ: ') . $cpfCnpj; ?></p>
            <?php endif;?>

            <?php if ($maxipagoOrderId) : ?>
                <p><?php echo __('Order ID: ') . $maxipagoOrderId ?></p>
            <?php endif; ?>

            <?php if ($tid) : ?>
                <p><?php echo __('TID: ') .  $tid ?></p>
            <?php endif; ?>

            <?php if ($nsu) : ?>
                <p><?php echo __('NSU: ') . $nsu ?></p>
            <?php endif; ?>
        </div>
    <?php elseif ($infoInstance->getMethod() === "maxipago_payment_cc") : ?>
        <?php
        $ccType   = $infoInstance->getData('cc_type');
        $ccOwner  = $infoInstance->getData('cc_owner');
        $ccNumber = $encryptor->decrypt($infoInstance->getData('cc_number_enc'));
        $ccNumber = substr($ccNumber, 0,6) . '****' . substr($ccNumber, -4);

        $additionalInformation = $infoInstance->getData('additional_information');

        $installments      = $additionalInformation['cc_installments'];
        $installmentsValue = $additionalInformation['cc_installment_value'];
        $interestRate      = $additionalInformation['cc_interest_rate'];

        $cpfCnpj = $additionalInformation['cpf_cnpj'];
        $orderId = $additionalInformation['order_id'];

        $maxipagoOrderId = isset($additionalInformation['order_id']) ? $additionalInformation['order_id'] : null;
        $status = isset($additionalInformation['status']) ? $additionalInformation['status'] : null;
        $savedCardUsed = $additionalInformation['cc_description'];
        $isRecurringProfile = isset($additionalInformation['recurring_profile']) ? $additionalInformation['recurring_profile'] : null;
        $totalWithInterest  = isset($additionalInformation['cc_total_with_interest']) ? $additionalInformation['cc_total_with_interest'] : null;

        $tid = $additionalInformation['processor_transaction_id'];
        $nsu = $additionalInformation['processor_reference_number'];
        ?>
        <p><b><?php echo $block->getMethod()->getTitle() ?></b></p>
        <div class="maxipago_cc_information">
            <p><?php echo __('Tipo de Cartão de Crédito: ') . $this->helper('MaxiPago\Payment\Helper\Data')->getBrand($ccType) ?></p>

            <?php if($savedCardUsed): ?>
                <p><?php echo __('Número do Cartão: ') . $savedCardUsed; ?></p>
            <?php else: ?>
                <p><?php echo __('Número do Cartão: ') . $ccNumber; ?></p>
                <p><?php echo __('Nome no Cartão:  ') . $ccOwner; ?></p>

            <?php endif;?>

            <?php if ($cpfCnpj): ?>
                <p><?php echo __('CPF/CNPJ: ') . $cpfCnpj; ?></p>
            <?php endif;?>

            <?php
            $textInterest = '';
            if ($interestRate)
                $textInterest = __('(juros de ') . $interestRate . __('%');
            ?>

            <?php if (!$isRecurringProfile && $installments > 1): ?>
                <p>
                    <?php echo __('Parcelas: ') . $installments . __('x') ?>
                    <?php echo __('de ') . number_format($installmentsValue, 2, ',', '.');?>
                    <?php echo $textInterest;?>
                </p>
                <?php if ($totalWithInterest && $textInterest): ?>
                    <p><?php echo __('Total: ') . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totalWithInterest, true, false); ?></p>
                <?php endif; ?>
            <?php endif;?>

            <?php if ($maxipagoOrderId) : ?>
                <p><?php echo __('Order ID: ') . $maxipagoOrderId ?></p>
            <?php endif; ?>

            <?php if ($tid) : ?>
                <p><?php echo __('TID: ') . $tid ?></p>
            <?php endif; ?>

            <?php if ($nsu) : ?>
                <p><?php echo __('NSU: ') . $nsu ?></p>
            <?php endif; ?>
        </div>
    <?php endif; ?>
<?php endif; ?>